{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Booking{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/favicon.png' %}" alt="YoYo Hotels Logo" class="logo-img">
            </a>
            <ul>
                <li><a href="{% url 'home' %}" class="logo">Home</a></li>
                <li><a href="{% url 'hotel_list' %}">Book Hotels</a></li>
                <li><a href="{% url 'restaurant_list' %}">Order Food</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'my_bookings' %}" style="text-decoration: none; color: #000000;">My Room Bookings</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'my_orders' %}" style="text-decoration: none; color: #000000;">My Food Bookings</a></li>
                {% endif %}
        </div>
        
        <div class="nav-right">
            {% if request.user.is_authenticated %}
                <h4>Welcome {{ user.username }}</h4>
                <a href="{% url 'logout' %}" class="auth-btn">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="auth-btn">Login</a>
            {% endif %}
        </div>
    </nav>
     
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {% now "DATE_FORMAT" %} YoYo Booking. All rights reserved.</p>
        
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>